<mat-toolbar color="primary" class="mat-elevation-z4 navbar">
  <img src="assets/img/ScanDriveLogo.png" alt="ScanDrive IA" class="logo" routerLink="/"/>
  <span class="spacer"></span>

  <ng-container *ngIf="!isLogado; else menuPrivado">
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/planos">Planos</button>
    <button mat-button routerLink="/login">Login</button>
  </ng-container>

  <ng-template #menuPrivado>
    <button mat-button routerLink="/dashboard">Dashboard</button>

    <button
      *ngIf="isInRole(role)"
      mat-button
      routerLink="/loja-lista"
    >
      Lojas
    </button>

    <button
      *ngIf="isInRole(role)"
      mat-button
      routerLink="/estoque"
    >
      Estoque
    </button>
    
    <button
      *ngIf="isInRole(role)"
      mat-button
      routerLink="/lead-lista"
    >
      LEADs
    </button>

    <button
      *ngIf="isInRole(role)"
      mat-button
      routerLink="/usuarios-lista"
    >
      Usuários
    </button>

    <button
      *ngIf="isInRole(role)"
      mat-button
      routerLink="/relatorios"
    >
      Relatórios
    </button>

    <button
      *ngIf="isInRole(role)"
      mat-button
      routerLink="/configuracoes"
    >
      Configurações
    </button>

    <button mat-button (click)="logout()">Logout</button>
  </ng-template>
</mat-toolbar>
