<mat-sidenav-container class="sidenav-container" autosize>
  <!-- Menu lateral -->
  <mat-sidenav
    #sidenav
    class="sidenav"
    [mode]="modoMenu"
    [(opened)]="menuAberto"
    [fixedInViewport]="modoMenu === 'over'"
    [disableClose]="modoMenu === 'side'"
  >
    <img
      src="assets/img/1.png"
      alt="ScanDrive IA"
      class="logo-menu"
      routerLink="/dashboard"
    />
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a *ngIf="canShow('SHOPS')"        mat-list-item routerLink="/loja-lista">Lojas</a>
      <a *ngIf="canShow('INVENTORY')"    mat-list-item routerLink="/estoque">Estoque</a>
      <a *ngIf="canShow('LEADS')"        mat-list-item routerLink="/lead-lista">LEADs</a>
      <a *ngIf="canShow('TEST_DRIVES')"  mat-list-item routerLink="/test-drive-list">Test Drives</a>
      <a *ngIf="canShow('QR_CODES')"     mat-list-item routerLink="/qr-code-list">QR Codes</a>
      <a *ngIf="canShow('USERS')"        mat-list-item routerLink="/usuarios-lista">Usuários</a>
      <a *ngIf="canShow('REPORTS')"      mat-list-item routerLink="/relatorios">Relatórios</a>
      <a *ngIf="canShow('SETTINGS')"     mat-list-item routerLink="/configuracoes">Configurações</a>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Conteúdo principal -->
  <mat-sidenav-content>
    <!-- Toolbar superior -->
    <mat-toolbar color="primary" class="navbar">
      <button
        type="button"
        mat-icon-button
        class="menu-button"
        (click)="sidenav.toggle(); menuAberto = !menuAberto"
        *ngIf="isLogado"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <p class="logo-loja" *ngIf="isLogado">{{ shopName }}</p>

      <img
        *ngIf="!isLogado"
        src="assets/img/ScanDriveLogo.png"
        alt="ScanDrive IA"
        class="logo"
        routerLink="/"
      />

      <span class="spacer"></span>

      <!--ng-container *ngIf="chatAtendimento">
        <button mat-button routerLink="/">Estoque</button>
        <button mat-button routerLink="/planos">Lojas</button>
      </ng-container-->
      <ng-container *ngIf="isLogado">
        <button mat-button [matMenuTriggerFor]="menuPerfil" class="perfil-btn">
          <mat-icon>account_circle</mat-icon>
          <span class="nome-usuario">{{ email }}</span>
        </button>

        <mat-menu #menuPerfil="matMenu">
          <button mat-menu-item disabled>
            <mat-icon>person</mat-icon>
            <span>{{ email }}</span>
          </button>
          <button mat-menu-item routerLink="/perfil">
            <mat-icon>account_box</mat-icon>
            <span>Perfil</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Sair</span>
          </button>
        </mat-menu>
      </ng-container>

      <ng-container *ngIf="!isLogado && !chatAtendimento">
        <button mat-button routerLink="/">Home</button>
        <button mat-button routerLink="/planos">Planos</button>
        <button mat-button routerLink="/login">Login</button>
      </ng-container>
    </mat-toolbar>

    <!-- Saída das rotas -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
