<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #sidenav
    class="sidenav"
    [mode]="modoMenu"
    [(opened)]="menuAberto"
    [fixedInViewport]="modoMenu === 'over'"
    [disableClose]="modoMenu === 'side'"
  >
    <img src="assets/img/ScanDriveLogo.png" alt="ScanDrive IA" class="logo-menu" routerLink="/dashboard"/>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a *ngIf="isInRole(role)" mat-list-item routerLink="/loja-lista">Lojas</a>
      <a *ngIf="isInRole(role)" mat-list-item routerLink="/estoque">Estoque</a>
      <a *ngIf="isInRole(role)" mat-list-item routerLink="/lead-lista">LEADs</a>
      <a *ngIf="isInRole(role)" mat-list-item routerLink="/usuarios-lista">Usuários</a>
      <a *ngIf="isInRole(role)" mat-list-item routerLink="/relatorios">Relatórios</a>
      <a *ngIf="isInRole(role)" mat-list-item routerLink="/configuracoes">Configurações</a>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="navbar">
      <button
        type="button"
        mat-icon-button
        class="menu-button"
        (click)="sidenav.toggle(); menuAberto = !menuAberto"
        *ngIf="isLogado"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <p class="logo-loja" *ngIf="isLogado">Kafka Veiculos</p>
      <img *ngIf="!isLogado" src="assets/img/ScanDriveLogo.png" alt="ScanDrive IA" class="logo" routerLink="/" />
      <span class="spacer"></span>

      <ng-container *ngIf="!isLogado">
        <button mat-button routerLink="/">Home</button>
        <button mat-button routerLink="/planos">Planos</button>
        <button mat-button routerLink="/login">Login</button>
      </ng-container>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
