.sidenav {
  // width: 250px;
  transition: transform 0.3s ease-in-out;
}

.navbar {
  height: 60px;
  min-height: 60px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 18px;

  button {
    height: 60px;
    line-height: 60px;
    padding: 6px 12px;
    font-size: 14px;
  }
}

mat-sidenav-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.logo {
  width: 12rem;
  cursor: pointer;
}

.logo-menu {
  width: 16rem;
  height: 60px;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.menu-button {
  margin-right: 10px;
  display: block;
}

.logo-loja {
  margin: 2px;
  font-size: 28px;

}

@media (max-width: 768px) {
  .logo {
    width: 10rem;
  }
}
