   
<div class="leads-wrapper">
  <h2>Leads Cadastrados</h2>

  <div class="cards-container">
    <mat-card class="card-lead" *ngFor="let lead of leads">
      <mat-card-content>
        <h3>{{ lead.name }}</h3>
        <p><strong>Email:</strong> {{ lead.email }}</p>
        <p><strong>Telefone:</strong> {{ lead.phone }}</p>
        <p><strong>Observações:</strong> {{ lead.notes }}</p>
        <p><strong>Loja:</strong> {{ lead.shopId }}</p>
        <p><strong>Veiculo:</strong> {{ lead.vehicleId }}</p>
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="abrirDetalhes(lead)">Detalhes</button>
        <button mat-raised-button color="primary" (click)="excluir(lead.email)">Excluir</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
