<div class="conta-wrapper">
  <h2>Dados da Conta</h2>

  <mat-card>
    <div class="perfil">
      <img [src]="exibirImagem" alt="Imagem da Loja" />
      <input type="file" (change)="onFileChange($event)" accept="image/*" />
    </div>

    <mat-form-field class="full">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="nome" />
    </mat-form-field>

    <mat-form-field class="full">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" />
    </mat-form-field>

    <mat-form-field class="full">
      <mat-label>Telefone</mat-label>
      <input matInput [(ngModel)]="telefone" />
    </mat-form-field>

    <mat-form-field class="full">
      <mat-label>Senha</mat-label>
      <input matInput type="password" [(ngModel)]="senha" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="salvar()">
      Salvar Alterações
    </button>
  </mat-card>
</div>
