.container {
  padding: 16px;

  h2 {
    margin-bottom: 16px;
  }

  button {
    margin-bottom: 16px;
  }

  mat-table {
    width: 100%;
  }

  mat-cell,
  mat-header-cell {
    padding: 8px;
  }

  mat-icon-button {
    margin-left: 4px;
  }
  
}
.thumb-carro {
  width: 80px;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}