<div class="container">
  <h2>Estoque da Loja</h2>

  <div class="actions">
    <button mat-flat-button color="primary" (click)="abrirCadastro()">Cadastrar Veículo</button>
  </div>


  <mat-table [dataSource]="veiculos" class="mat-elevation-z4">
    <!-- Foto -->
    <ng-container matColumnDef="foto">
    <mat-header-cell *matHeaderCellDef>Foto</mat-header-cell>
    <mat-cell *matCellDef="let v">
        <img [src]="v.mainPhotoUrl" alt="{{ v.brand }} {{ v.model }}" class="thumb-carro" />
    </mat-cell>
    </ng-container>

    <!-- Marca -->
    <ng-container matColumnDef="brand">
      <mat-header-cell *matHeaderCellDef>Marca</mat-header-cell>
      <mat-cell *matCellDef="let v">{{ v.brand }}</mat-cell>
    </ng-container>

    <!-- Modelo -->
    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef>Modelo</mat-header-cell>
      <mat-cell *matCellDef="let v">{{ v.model }}</mat-cell>
    </ng-container>

    <!-- Ano -->
    <ng-container matColumnDef="year">
      <mat-header-cell *matHeaderCellDef>Ano</mat-header-cell>
      <mat-cell *matCellDef="let v">{{ v.year }}</mat-cell>
    </ng-container>

    <!-- Preço -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>Preço</mat-header-cell>
      <mat-cell *matCellDef="let v">R$ {{ v.price | number: '1.0-0' }}</mat-cell>
    </ng-container>

    <!-- Quilometragem -->
    <ng-container matColumnDef="mileage">
      <mat-header-cell *matHeaderCellDef>KM</mat-header-cell>
      <mat-cell *matCellDef="let v">{{ v.mileage | number }}</mat-cell>
    </ng-container>

    <!-- Cor -->
    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef>Cor</mat-header-cell>
      <mat-cell *matCellDef="let v">{{ v.color }}</mat-cell>
    </ng-container>

    <!-- Ações -->
    <ng-container matColumnDef="acoes">
      <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
      <mat-cell *matCellDef="let v">
        <button mat-icon-button color="primary" (click)="abrirDetalhes(v)" matTooltip="Detalhes">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="abrirCadastro(v)" matTooltip="Editar">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="excluir(v.id)" matTooltip="Excluir">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Header e Rows -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- Paginação -->
  <mat-paginator
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="mudarPagina($event)">
  </mat-paginator>
</div>
