<div class="container">
    <h2>Estoque da Loja</h2>

    <div class="actions">
        <button 
            mat-flat-button color="primary"
            (click)="abrirCadastro()"
            disabled="true">
                Cadastrar Veículo
            </button>
    </div>

    <app-loading [isLoading]="carregando" [text]="'Carregando...'">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Filtros Avançados
                </mat-panel-title>
                <mat-panel-description>
                    (opcional)
                </mat-panel-description>
                </mat-expansion-panel-header>

                <form [formGroup]="filtroForm" (ngSubmit)="aplicarFiltros()">
                <div class="filtros-grid">

                    <mat-form-field appearance="fill">
                    <mat-label>Marca</mat-label>
                    <input matInput formControlName="brand" />
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                    <mat-label>Modelo</mat-label>
                    <input matInput formControlName="model" />
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                    <mat-label>Ano</mat-label>
                    <input matInput type="number" formControlName="year" />
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                    <mat-label>Cor</mat-label>
                    <input matInput formControlName="color" />
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                    <mat-label>Câmbio</mat-label>
                    <mat-select formControlName="transmission">
                        <mat-option value="">Todos</mat-option>
                        <mat-option value="Automático">Automático</mat-option>
                        <mat-option value="Manual">Manual</mat-option>
                    </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                    <mat-label>Combustível</mat-label>
                    <mat-select formControlName="fuelType">
                        <mat-option value="">Todos</mat-option>
                        <mat-option value="Gasolina">Gasolina</mat-option>
                        <mat-option value="Flex">Flex</mat-option>
                        <mat-option value="Diesel">Diesel</mat-option>
                        <mat-option value="Elétrico">Elétrico</mat-option>
                    </mat-select>
                    </mat-form-field>

                    <mat-checkbox formControlName="hasAuction">Leilão</mat-checkbox>
                    <mat-checkbox formControlName="hasAccident">Sinistro</mat-checkbox>
                    <mat-checkbox formControlName="isFirstOwner">1º dono</mat-checkbox>
                    <mat-checkbox formControlName="isOnOffer">Em oferta</mat-checkbox>

                </div>

                <div class="filtros-acoes">
                    <button mat-flat-button color="primary" type="submit">Aplicar Filtros</button>
                    <button mat-stroked-button type="button" (click)="limparFiltros()">Limpar</button>
                </div>
                </form>
            </mat-expansion-panel>
        </mat-accordion>

        <div class="cards-container">
            <mat-card class="card-veiculo" *ngFor="let v of veiculos">
                <div class="card-topo">
                    <ng-container *ngIf="v.mainPhotoUrl; else semImagem">
                        <img [src]="v.mainPhotoUrl" [alt]="v.brand + ' ' + v.model" />
                    </ng-container>
                    <ng-template #semImagem>
                        <div class="sem-imagem">
                        <span>Sem Foto</span>
                        </div>
                    </ng-template>
                </div>

                <mat-card-content>
                    <h3>{{ v.brand }} {{ v.model }} {{ v.year }}</h3>
                    <p><strong>Cor:</strong> {{ v.color }}</p>
                    <p><strong>KM:</strong> {{ v.mileage | number }} km</p>
                    <p><strong>Preço:</strong> R$ {{ v.price | number: '1.0-0' }}</p>
                </mat-card-content>

                <mat-card-actions align="end">
                    <button mat-raised-button color="primary"  (click)="abrirDetalhes(v)">Detalhes</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <!-- Paginação -->
        <mat-paginator
            [length]="totalCount"
            [pageSize]="pageSize"
            [pageIndex]="pageIndex"
            [pageSizeOptions]="[5, 10, 20]"
            (page)="mudarPagina($event)">
        </mat-paginator>
    </app-loading>
</div>
