/* Estilos globais para o aplicativo */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  h1, h2, h3 {
    color: #003366; /* Cor principal */
  }
  
  button {
    background-color: #003366;
  }
  