@use '@angular/material' as mat;

// Azul escuro (cor principal do AutoScan)
$autoscan-primary: mat.define-palette((
  100: #b3cbd7, // tom claro obrigatório para evitar erro
  500: #005073,
  600: #007aa2,
  700: #007099,
  800: #006790,
  900: #00435A,
  contrast: (
    100: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
));

// Azul claro (cor secundária da marca)
$autoscan-accent: mat.define-palette((
  100: #b3e6f9,
  500: #00A0D2,
  600: #0092bf,
  700: #0080a6,
  800: #006f8c,
  900: #005973,
  contrast: (
    100: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
));

// Cor de erro (default do Angular Material)
$autoscan-warn: mat.define-palette(mat.$red-palette);

$autoscan-theme: mat.define-light-theme((
  color: (
    primary: $autoscan-primary,
    accent: $autoscan-accent,
    warn: $autoscan-warn,
  )
));

@include mat.all-component-themes($autoscan-theme);


html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
  
.success-snackbar {
  background-color: #43a047;
  color: #fff;
}

.error-snackbar {
  background-color: #e53935;
  color: #fff;
}

.info-snackbar {
  background-color: #1e88e5;
  color: #fff;
}

.warning-snackbar {
  background-color: #fbc02d;
  color: #000;
}

.mic-snackbar {
  background-color: #323232;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
