<div class="dashboard-container">
  <h1>Bem-vindo à sua Central, {{ nomeLoja || 'Loja' }}</h1>
  <p class="subtitulo">Aqui estão os principais indicadores da sua operação:</p>

  <div class="cards-grid">
    <mat-card class="info-card" *ngFor="let indicador of indicadores" [ngStyle]="{ 'border-top': '5px solid ' + indicador.cor }">
      <mat-card-title>{{ indicador.icone }} {{ indicador.titulo }}</mat-card-title>
      <mat-card-content>
        <h2>{{ indicador.valor }}</h2>
      </mat-card-content>
    </mat-card>
  </div>
  
  <h2>Palavras Mais Buscadas no Chat</h2>

    <mat-table [dataSource]="palavrasMaisBuscadas" class="mat-elevation-z2">
    <ng-container matColumnDef="palavra">
        <mat-header-cell *matHeaderCellDef>Palavra</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.keyword }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantidade">
        <mat-header-cell *matHeaderCellDef>Quantidade</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.count }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['palavra', 'quantidade']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['palavra', 'quantidade']"></mat-row>
    </mat-table>

    <!--canvas baseChart
        [data]="{
            labels: palavrasMaisBuscadas.map(p => p.palavra),
            datasets: [{ data: palavrasMaisBuscadas.map(p => p.quantidade), label: 'Buscas' }]
        }"
        [type]="'bar'">
    </canvas-->


</div>
